@page "/health-checker"
@using Sentinel.Core.TokenGenerator
@using System.Text.Json



<div class="row">
    <div class="col-md-4">
        <Card Size="CardSize.Small">
            <CardHeader>
                <h3>Health Checker List</h3>
            </CardHeader>
            <CardBody>
                @if (healthCheckCronRequest != null)
                {
                    <EditForm Model="@healthCheckCronRequest" FormName="TokenGenerator" OnValidSubmit="@SubmitValidForm">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label for="Cron" class="form-label">Cron</label>
                                <input type="text" class="form-control" id="cron" placeholder="Cron" @bind="healthCheckCronRequest.Cron">
                            </div>
                            <div class="col-sm-12">
                                <label for="Cron" class="form-label">App Insight Connection String</label>
                                <input type="text" class="form-control" id="cron" placeholder="app insight connection string" @bind="healthCheckCronRequest.ApplicationInsightsConnectionstring">
                            </div>

                        </div>
                    </EditForm>
                }
            </CardBody>
        </Card>
        @if (healthCheckCronRequest != null)
        {
            @foreach (var checklist in healthCheckCronRequest.HealthChecks)
            {
                <Card Size="CardSize.Small">
                    <CardHeader> 
                        <h3 style="margin-bottom:0px">@checklist.Key</h3>   
                        <Button BackgroundColor="TablerColor.Primary" Type="ButtonType.Button" Text="Add" Size="ButtonSize.Small" style="margin-left:20px" @onclick="() => addnewrequest(checklist.Key)" />
                    </CardHeader>


                      

                    <CardBody style="padding-top:0px; padding-bottom:0px">
                        @if (checklist.Value != null)
                        {
                            <div class="list-group list-group-flush">
                                @foreach (var item in checklist.Value)
                                {
                                    <a class="list-group-item list-group-item-action @(item == selectedRequest ? "active" : "")" style="padding-top:0px;padding-bottom:5px" @onclick="() => changeSelected(item, checklist.Key)" aria-current="true"> @item.Url </a>
                                }
                            </div>
                        }
                    </CardBody>
                </Card>
            }

        }


    </div>
   
    <div class="col-8">

        <Card Size="CardSize.Medium">
            <CardHeader>
                <h3>Check Connectivity</h3>
            </CardHeader>
            <CardBody>
                @if (selectedRequest != null)
                {
                    <EditForm Model="@selectedRequest" FormName="CheckConnectivity" OnValidSubmit="@SubmitValidForm">
                        <FluentValidationValidator />
                        <ValidationSummary />

                        <div class="row g-3">
                            <div class="col-sm-9">
                                @if (selectedRequest is HttpConnectionCheckRequest)
                                {
                                    <label for="url" class="form-label">URL</label>
                                }
                                else
                                {
                                    <label for="url" class="form-label">Domain</label>
                                }
                                <input type="text" class="form-control" id="url" placeholder="Domain" @bind="selectedRequest.Url">
                                <ValidationMessage class="alert alert-danger" For="@(() => selectedRequest.Url)" />
                            </div>

                            <div class="col-sm-3">
                                <label for="lastName" class="form-label">Port</label>
                                <input type="number" class="form-control" id="port" placeholder="Port" @bind="selectedRequest.Port">
                            </div>

                            @* 
                        <div class="col-md-6">
                            <label for="country" class="form-label">Category</label>

                            <select class="form-select" id="category" @bind="selectedCategoryValue" @bind:after="categoryChanged">
                                @foreach (var cat in connectionCheckDiscovery.Categories)
                                {
                                    <option value="@cat.Key">@cat.Value</option>
                                }
                            </select>*@

                        </div>

                        <div class="col-md-6">
                            <label for="state" class="form-label">Authentication</label>
                            <select class="form-select" id="authselect" required="" @bind="selectedRequest.SelectedAuthenticationType">
                                <option value="None">None</option>
                                <option value="UseMSI">Use Managed Identity</option>
                                <option value="SP">Use Service Principal</option>
                            </select>
                        </div>

                        @if (selectedRequest.SelectedAuthenticationType == "SP")
                        {
                            <hr class="my-4">
                            <h4> Service Principal</h4>

                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="sp_tenantid" placeholder="Tanent ID" @bind="selectedRequest.ServicePrincipal.TenantId">
                                </div>

                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="sp_clientid" placeholder="Client ID" @bind="selectedRequest.ServicePrincipal.ClientId">
                                </div>

                                <div class="col-sm-12">
                                    <input type="password" class="form-control" id="sp_clientsecret" placeholder="Client Secret" @bind="selectedRequest.ServicePrincipal.ClientSecret">
                                </div>
                            </div>
                        }
                        @if (selectedRequest.AdditionalRequestRazorContentType != null)
                        {
                            <DynamicComponent Type="@selectedRequest.AdditionalRequestRazorContentType" Parameters="@requestDictionary" /> 
                        }
                        <hr class="my-4">
                        @if (disableSendButton)
                        {
                            <Progress Color="TablerColor.Purple" Indeterminate />
                        }
                        <Button BackgroundColor="TablerColor.Primary" class="w-100 btn btn-primary" IsLoading="disableSendButton" Disabled="disableSendButton" Type="ButtonType.Submit" Text="Send" />
                    </EditForm>
                }
            </CardBody>
        </Card>
    </div>


    <div class="col-6">

        @if (response != null)
        {

            <Card Size="CardSize.Default" StatusStart="TablerColor.Green">
                <CardBody>
                    <CardTitle>
                        <h3>Connected  </h3>
                        <h4>Token: @response.Token</h4>
                        <pre>@response.DecodedToken</pre>

                        @(JsonSerializer.Serialize(@response.DecodedToken, new JsonSerializerOptions() { WriteIndented = true }))
                    </CardTitle>
                </CardBody>
            </Card>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <Button BackgroundColor="TablerColor.Primary" class="w-100 btn btn-primary" @onclick="serialize" Type="ButtonType.Button" Text="Serialize" />
    </div>
    <div class="col-md-3">
        <Button BackgroundColor="TablerColor.Primary" class="w-100 btn btn-primary" @onclick="deserialize" Type="ButtonType.Button" Text="Deserialize" />
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <Card Size="CardSize.Medium">
            <CardHeader>
                <h3>Health Configuration</h3>
            </CardHeader>
            <CardBody>
                <textarea class="form-control" name="example-textarea" rows="15"
                          placeholder="Textarea placeholder" @bind="configurationText"></textarea>
            </CardBody>
        </Card>

    </div>
</div>

@code {

    [Inject]
    private ISender mediator { get; set; }
    private TokenGenResponse response = null;
    private bool disableSendButton = false;
    string SelectedAuthenticationType = "UseMSI";


    [Inject] ConnectionCheckDiscovery connectionCheckDiscovery { get; set; } = default!;
    public Dictionary<string, object> requestDictionary { get; set; } = new Dictionary<string, object>();

    [Inject]
    private IConfiguration configuration { get; set; }
    private string configurationText { get; set; }
    private HealthCheckCronRequest healthCheckCronRequest { get; set; }

    private IBasicCheckAccessRequest selectedRequest { get; set; }

    public HealthChecker()
    {
        requestDictionary = new Dictionary<string, object>();
        requestDictionary.Add("RequestValue", selectedRequest);
        // selectedRequest = new TcpPingConnectionCheckRequest();

        configurationText = @"
        {
          ""HealthChecks"": {
            ""Cron"": ""0 */5 * * * *"",
            ""TcpPing"": [{
              ""Url"": ""api.example.com"",
              ""Port"": 443,
              ""Protocol"": ""TCP"",
              ""UseMSI"": false,
              ""SelectedAuthenticationType"": ""None""
            }],

            ""Http"": [{
                ""Url"": ""https://api.example.com/health"",
                ""HttpMethod"": ""Get"",
                ""Port"": 443,
                ""UseMSI"": false,
                ""SelectedAuthenticationType"": ""None"",
                ""Headers"": []
              }],

            ""StrorageAccount"": [{
                ""Url"": ""mystorageacct.blob.core.windows.net"",
                ""Port"": 443,
                ""StorageAccountName"": ""mystorageacct"",
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI"",
                ""TestBlobStorage"": true,
                ""TestQueueStorage"": true,
                ""TestTableStorage"": true,
                ""TestStaticwebsite"": false,
                ""TestDataLakeStorage"": false,
                ""TestAzureFiles"": false
              }],
            ""KeyVault"": [{
                ""Url"": ""mykeyvault.vault.azure.net"",
                ""Port"": 443,
                ""KeyVaultName"": ""mykeyvault"",
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI""
              }],
            ""ServiceBus"": [{
                ""Url"": ""myservicebus.servicebus.windows.net"",
                ""Port"": 443,
                ""QueueName"": ""orders"",
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI""
              }],
            ""Redis"": [{
                ""Url"": ""myredis.redis.cache.windows.net"",
                ""Port"": 6380,
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI"",
                ""RedisUsername"": ""default""
              }],
            ""EventHub"": [{
                ""Url"": ""myeventhub.servicebus.windows.net"",
                ""Port"": 5671,
                ""EventHubName"": ""telemetry"",
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI""
              }],
            ""CosmosDB"": [{
                ""Url"": ""mycosmosdb.documents.azure.com"",
                ""Port"": 443,
                ""DatabaseName"": ""MainDB"",
                ""ContainerName"": ""Orders"",
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI""
              }],
            ""SQLServer"": [{
                ""Url"": ""myserver.database.windows.net"",
                ""Port"": 1433,
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI""
              }],
            ""AzureAppConfig"": [{
                ""Url"": ""myappconfig.azconfig.io"",
                ""Port"": 443,
                ""UseMSI"": true,
                ""SelectedAuthenticationType"": ""MSI""
              }]
          }
        }";

    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //selectedCategoryValue = connectionCheckDiscovery.Categories.Keys.First();

        if (configuration["AZURE_ClIENT_ID"] != null)
        {
            // selectedRequest.Audience = configuration["AZURE_ClIENT_ID"];
        }
    }

    // private async Task SubmitValidForm()
    // {
    //     this.disableSendButton = true;
    //     this.StateHasChanged();
    //     if (SelectedAuthenticationType == "UseMSI")
    //     Console.WriteLine(request.UseMSI + ":" + request.Audience.ToString());
    //     request.UseMSI = true;
    //     response = await  mediator.Send(request);
    //     this.disableSendButton = false;
    // }


    private async Task SubmitValidForm()
    {
        disableSendButton = true;

        // await Task.Delay(10);
        // if (SelectedAuthenticationType == "UseMSI")
        // {
        //     Console.WriteLine(selectedRequest.UseMSI + ":" + selectedRequest.Audience.ToString());
        //     selectedRequest.UseMSI = true;


        // }
        // response = await mediator.Send(selectedRequest);
        disableSendButton = false;
    }

    private void serialize()
    {
        HealthCheckCronRequestConfiguration configuration = new HealthCheckCronRequestConfiguration
        {
            HealthChecks = healthCheckCronRequest
        };
        var obj = Newtonsoft.Json.JsonConvert.SerializeObject(configuration, Newtonsoft.Json.Formatting.Indented);

        configurationText = obj;
    }

    private void deserialize()
    {
        var obj = Newtonsoft.Json.JsonConvert.DeserializeObject<HealthCheckCronRequestConfiguration>(configurationText);
        healthCheckCronRequest = obj.HealthChecks;

    }
    private void changeSelected(IBasicCheckAccessRequest request, string category)
    {
        selectedRequest = request;
        //var qqq= connectionCheckDiscovery.Categories.TryGetValue(category, out var selectedCategoryValue);
        //var regtype = connectionCheckDiscovery.Categories.SingleOrDefault(p => p.Value == category);

        //request = connectionCheckDiscovery.CreateCheckAccessRequest(regtype.Key);
        requestDictionary = new Dictionary<string, object>();
        requestDictionary.Add("RequestValue", selectedRequest);
    }

    private void addnewrequest(string categoryName)
    {
        healthCheckCronRequest.AddnewRequest(categoryName);
        StateHasChanged();
        
    }
}



